* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;

	height: 100dvh;
	perspective: 1000px;
	font: 16px/1.4 "Comic Sans";
	overflow: hidden;

	background: url("imgs/bgs/background.jpg") no-repeat center/cover fixed;

	@media screen and (max-width: 600px) {
		background-image: url("imgs/bgs/background_phone.jpg");
	}
}

.book {
	cursor: pointer;
	display: flex;
	margin: auto;
	width: 300px;
	height: 450px;

	transform-style: preserve-3d;
	transition: translate 1s;
	translate: calc(min(var(--c), 1) * 50%) 0%;
	rotate: 1 0 0 22deg;
}

.page {
	--page-color: RGB(224, 201, 166);
	--page-color2: RGB(240, 226, 211);
	--thickness: 7;
    
	flex: none;
	display: flex;
	width: 100%;
	user-select: none;
	border: 3px solid var(--page-color);

	transform-style: preserve-3d;
	transform-origin: left center;
	transition: transform 1s,
		rotate 1s ease-in
			calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
	translate: calc(var(--i) * -100%) 0px 0px;
	transform: translateZ(
		calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px))
	);
	rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.page img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.front,
.back {
	flex: none;
	width: 100%;
	padding: 2rem;
	backface-visibility: hidden;
	background-color: var(--page-color);
	translate: 0px;
}

.back {
	background-image: linear-gradient(
		to right,
		var(--page-color) 80%,
		var(--page-color2) 100%
	);
	translate: -100% 0;
	rotate: 0 1 0 180deg;
}

.cover {
	background: url(imgs/book_cover.jpg) no-repeat center/cover;
	border: 8px solid rgba(34, 2, 34, 0.733);
}

.page audio {
    position: relative;
    z-index: 100;
}

/*--------------->>> DISPLAYS <<<---------------*/

.page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.d-half_page_imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.d-half_page_imgs img {
    width: 80%;
    height: 190px;
}

.d-div_img_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.d-small_img_text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.d-small_img_text img {
    width: 40%;
    padding-right: 5px;
}

.d-big_img_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/*--------------->>> WITCHER <<<---------------*/

/*Front*/

.page .witcher_front {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 30px;
    margin-top: 15px;
}

.page .witcher_imgs {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.page .witcher_imgs img {
    width: 33%;
    height: auto;
    opacity: 0.9;
    filter: drop-shadow(2px 1px rgba(0, 0, 0, 0.322));
}

/*--------------->>> GOT <<<---------------*/

/*Back*/

.page .card h5,
.page .card p {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.card p:last-child {
    text-align: justify;
}

/*Back*/

.page .got_back2 > img {
    width: 80%;
    height: 210px;
}

/*--------------->>> STAR WARS <<<---------------*/

/*Back*/

.page .sw_back img {
    width: 75%;
}

/*--------------->>> SHOWS <<<---------------*/

.page audio {
    width: 110%;
    height: 40px;
}

/*Back*/

.page .friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.page .friends img:first-child {
    width: 76%;
    opacity: 0.75;
}

.page .friends img:last-child {
    height: 135px;
}

/*Front*/

.page .gg_media {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.page .gg_media img {
    opacity: 0.9;
}

/*Back*/

.page .gg_text p {
    font-size: 0.95rem;
}

.page .gg_text img {
    width: 45%;
}

/*--------------->>> HOGWARTS <<<---------------*/

.page .raven_front p {
    font-size: 0.95rem;
}

.page .karamyr_back img {
    width: 80%;
}

/*--------------->>> MARVEL <<<---------------*/

.page .love_you_text img {
    width: 50%;
}

/*--------------->>> GREECE <<<---------------*/

/*Front*/

.page .percy_front img {
    height: 280px;
}

/*Front*/

.page .wolf_front img {
    width: 80%;
}

/*--------------->>> HAMILTON <<<---------------*/

.page .hamilton_back > img {
    height: 200px;
}

/*--------------->>> MUSIC <<<---------------*/

/*Back*/

.instruments {
    display: flex;
    gap: 10px;
    height: 50%;
    margin-bottom: 20px;
}

.instruments img {
    opacity: 0.8;
    width: 110px;
}

.adele {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*Front*/

.page .jamie_front img {
    width: 80%;
}

/*--------------->>> OTROS <<<---------------*/

/*Back*/

.page .arcane img {
    height: 280px;
    width: 75%;
}

/*Back*/

.page .asis img {
    width: 60%;
}

/*Front*/

.page .wanda_imgs img {
    opacity: 0.9;
    width: 80%;
    height: 190px;
}

/*Back*/

.page .adhd {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .adhd > img {
    margin-bottom: 25px;
}

.page .adhd_text {
    margin-top: 10px;
}

.page .adhd_text img:first-child {
    width: 90%;
}

.page .adhd_text img:last-child {
    width: 45%;
}

/*--------------->>> COSMERE <<<---------------*/

.page .dorsa_text img {
    width: 75%;
    opacity: 0.9;
}

.page .stormlight_back img {
    height: 230px;
}

/*--------------->>> RANDOM PT.2 <<<---------------*/

.wolf_back img {
    height: auto;
}

/*--------------->>> LAST PAGE <<<---------------*/

.page .last_page p {
    margin-top: 15px;
    font-size: 0.95rem;
}

.page .last_page img {
    height: 130px;
}
