* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;

	height: 100dvh;
	perspective: 1000px;
	font: 16px/1.4 "Comic Sans";
	overflow: hidden;

	background: url("imgs/bgs/background.jpg") no-repeat center/cover fixed;

	@media screen and (max-width: 600px) {
		background-image: url("imgs/bgs/background_phone.jpg");
	}
}

.book {
	cursor: pointer;
	display: flex;
	margin: auto;
	width: 300px;
	height: 450px;

	transform-style: preserve-3d;
	transition: translate 1s;
	translate: calc(min(var(--c), 1) * 50%) 0%;
	rotate: 1 0 0 22deg;
}

.page {
	--page-color: RGB(224, 201, 166);
	--page-color2: RGB(240, 226, 211);
	--thickness: 7;
	flex: none;
	display: flex;
	width: 100%;
	user-select: none;
	border: 3px solid var(--page-color);

	transform-style: preserve-3d;
	transform-origin: left center;
	transition: transform 1s,
		rotate 1s ease-in
			calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
	translate: calc(var(--i) * -100%) 0px 0px;
	transform: translateZ(
		calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px))
	);
	rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.page img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.front,
.back {
	flex: none;
	width: 100%;
	padding: 2rem;
	backface-visibility: hidden;
	background-color: var(--page-color);
	translate: 0px;
}

.back {
	background-image: linear-gradient(
		to right,
		var(--page-color) 80%,
		var(--page-color2) 100%
	);
	translate: -100% 0;
	rotate: 0 1 0 180deg;
}

.cover {
	background: url(imgs/book_cover.jpg) no-repeat center/cover;
	border: 5px solid rgba(34, 2, 34, 0.733);
}

/*--------------->>> GERALT <<<---------------*/

.page .witcher_text {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 15px;
}

.page .witcher_imgs {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.page .witcher_imgs img {
	width: 33%;
	height: auto;
	opacity: 0.9;
	filter: drop-shadow(2px 1px rgba(0, 0, 0, 0.322));
}

/*--------------->>> GOT <<<---------------*/

.page .card h5,
.page .card p {
	margin-bottom: 5px;
	font-size: 0.8rem;
}

.page .card p {
	text-align: justify;
}

.page .got_imgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.page .got_imgs img {
	width: 80%;
	height: 190px;
}

.page .got_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.page .jon_text {
	display: flex;
	align-items: center;
	gap: 5px;
}

.page .jon_text img {
	width: 40%;
}

.page .jon_text + img {
	width: 80%;
	height: 220px;
}

/*--------------->>> STAR WARS <<<---------------*/

.page .sw_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-top: 15px;
}

.page .sw_text img {
	width: 75%;
}

.page .sw_imgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.page .sw_imgs img {
	width: 80%;
	height: 190px;
}

/*--------------->>> SHOWS <<<---------------*/

.page audio {
	width: 110%;
	height: 40px;
}

.page .friends {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.page .friends img:first-child {
	width: 76%;
	opacity: 0.75;
}

.page .friends img:last-child {
	height: 135px;
}

.page .gg_media {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.page .gg_media img {
	opacity: 0.9;
}

.page .gg_text {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.page .gg_text img {
	width: 45%;
}

/*--------------->>> HOGWARTS <<<---------------*/

.page .gg_text + img {
	height: auto;
}

.page .raven_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.page .raven_text p {
	text-align: justify;
	font-size: 0.95rem;
}

.page .karamyr_text,
.page .karamyr_text2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.page .karamyr_text img {
	width: 90%;
}

.page .karamyr_text2 img {
	width: 80%;
}

/*--------------->>> GREECE <<<---------------*/

.page .percy_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.page .wolf_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.page .wolf_text img {
	width: 80%;
}

.page .epic_imgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.page .epic_imgs img {
	width: 80%;
	height: 190px;
}

/*--------------->>> HAMILTON <<<---------------*/

.page .hamilton {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.page .hamilton > img {
	height: 200px;
}

.page .hamilton_text {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.page .hamilton_text img {
	width: 40%;
}

/*--------------->>> MUSIC <<<---------------*/

.instruments {
	display: flex;
	gap: 10px;
	height: 50%;
	margin-bottom: 20px;
}

.instruments img {
	opacity: .8;
	width: 110px;
}

.adele {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

/*--------------->>> OTROS <<<---------------*/

.page .arcane_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	gap: 10px;
}

.page .arcane_text img {
	height: 280px;
	width: 75%;
}

.page .asis_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	gap: 15px;
}

.page .asis_text img {
	width: 70%;
}

.page .wanda_imgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.page .wanda_imgs img {
	opacity: .9;
	width: 80%;
	height: 190px;
}

.page .maincra_adhd {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.page .adhd_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.page .adhd_text img {
	width: 40%;
}

/*--------------->>> SANDERSON <<<---------------*/

.page .stormlight_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.page .stormlight_text img {
	height: 270px;
}